*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    animation: fadeIn 2s ease-out;
}

h1 {
    margin-bottom: 20px;
    color: #16a085;
    animation: slideDown 1s ease-out;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #16a085;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #148f77;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.rush {
    background-color: #e74c3c;
    color: white;
    box-shadow: 0 0 15px rgba(231, 76, 60, 0.5);
}

.rush:hover {
    background-color: #c0392b;
    box-shadow: 0 0 20px rgba(231, 76, 60, 0.7);
}

.moderate {
    background-color: #f1c40f;
    color: white;
    box-shadow: 0 0 15px rgba(241, 196, 15, 0.5);
}

.moderate:hover {
    background-color: #f39c12;
    box-shadow: 0 0 20px rgba(241, 196, 15, 0.7);
}

.availability {
    background-color: #2ecc71;
    color: white;
    box-shadow: 0 0 15px rgba(46, 204, 113, 0.5);
}

.availability:hover {
    background-color: #27ae60;
    box-shadow: 0 0 20px rgba(46, 204, 113, 0.7);
}

button:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
